<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username%>'s Pantry</title>
</head>
<body>
<h1>View <%= user.username%>'s pantry</h1>
<% user.pantry.forEach((entry) => { %>
    <h2><%= entry.name%></h2>
<% })%>
</body>
</html>
